<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administradores</title>
</head>

<body>
    <h1>Administradores</h1>
    <br>
    <p>Para insertar un nuevo administrador ingrese su usuario y su contraseña</p>

    {% if message %}
    <p style="color: red;">{{message}}</p>
    <br>
    {% endif %}
    <br>
    <form action="/agregarAdmin" method="POST">
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario"><br><br>

        <label for="password">Contraseña:</label>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Insertar">
        <input type="hidden" name="formId" id="formId" value="1">
    </form>
    <br><br>
    <p style="color: red;">{{message2}}</p>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Usuario</th>
        </tr>

        {% for registro in data %}
        <tr>
            <td>{{registro["id"]}}</td>
            <td>{{registro["usuario"]}}</td>
            <td>

                <form action="/agregarAdmin" method="POST">
                    <button type="submit" value="delete">Borrar</button>
                    <input type="hidden" name="formId" id="formId" value="2">
                    <input type="hidden" name="id" id="id" value="{{registro["id"]}}">
                </form>
            </td>
            <td>
                <form action="/agregarAdmin" method="POST">
                    <button type="submit" value="update">Modificar</button>
                    <input type="hidden" name="formId" id="formId" value="3">
                    <input type="hidden" name="id" id="id" value="{{registro["id"]}}">
                    <input type="hidden" name="usuario" id="usuario" value="{{registro["usuario"]}}">
                    <input type="hidden" name="password" id="password" value="{{registro["password"]}}">
                </form>
            </td>
        </tr>
        {% endfor %}

    </table>
    <br><br>

    {% if verdadero %}
    <p>Modifica el usuario Administrador</p>
    <form action="/agregarAdmin" method="POST">
        Usuario: <input type="text" name="usuario" id="usuario" value="{{usuario}}">
        Contraseña: <input type="text" name="password" id="password" value="{{password}}">
        <button type="submit" value="insert">Modificar</button>
        <input type="hidden" name="formId" id="formId" value="4">
        <input type="hidden" name="id" id="id" value="{{id}}">
    </form>
    <br><br>
    {% endif %}

    <p>
        <a href="/Admin">Regresar</a>
    </p>
</body>

</html>