<!DOCTYPE html>
<html lang="en">
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Emprendimiento</title>
{% endblock head %}

{% block body %}
    <h1>Inicio Emprendimiento</h1>

    {% for registro in data %}
        nombre:
        {{registro["nombre"]}}
        <br>eslogan:
        {{registro["eslogan"]}}
        <br>historia:
        {{registro["historia"]}}
        <br>
        <iframe width="300" height="250" src="{{registro["video"]}}" 
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <br>
        <img scr="{{registro["nombre_foto"]}}" width="200" height="300">
        
   {% endfor %}
{% endblock body %}
</html>