<!DOCTYPE html>
<html lang="en">
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Emprendimiento</title>
{% endblock head %}

{% block body %}
    <h1>Inicio Emprendimiento</h1>

    {% for registro in data %}
        nombre:
        {{registro["nombre"]}}
        <br>eslogan:
        {{registro["eslogan"]}}
        <br>descripcion:
        {{registro["descripcion"]}}
        <br><br><br>
        <iframe width="300" height="250" src="{{registro["video"]}}" 
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <br>
        <img src="/static/images/emprendimiento/{{registro["nombre_foto"]}}" width="400" height="341">
        <form action="/emprendimientoInicio" method="POST" enctype="multipart/form-data">
                <button type="submit" value="update">Modificar</button>
                <input type="hidden" name="formId" id="formId" value="1">
                <input type="hidden" name="descripcion" id="descripcion" value = "{{registro["descripcion"]}}">
                <input type="hidden" name="eslogan" id="eslogan" value = "{{registro["eslogan"]}}">
                <input type="hidden" name="nombre" id="nombre" value = "{{registro["nombre"]}}">
                <input type="hidden" name="nombre_foto" id="nombre_foto" value="{{registro["nombre_foto"]}}">
                <input type="hidden" name="video" id="video" value = "{{registro["video"]}}">
        </form>
    <br><br>    <br><br>
   {% endfor %}

     {% if verdadero %}
        <p>Modifica el emprendimiento</p>
        <form action = "/emprendimientoInicio" method = "POST" enctype="multipart/form-data">
            nombre: <input type="text" name="nombre" id="nombre" value="{{nombre}}"><br><br>
            eslogan: <input type="text" name="eslogan" id="eslogan" value="{{eslogan}}"><br><br>    
            descripcion: <input type="text" name="descripcion" id="descripcion" value="{{descripcion}}"><br><br>
            Foto: <input type="file" name="fileToUpload" id="fileToUpload"><br>    
            video: <input type="text" name="video" id="video" value="{{video}}"><br><br>
            <button type="submit" value="update">Modificar cambios</button>
            <input type="hidden" name="formId" id="formId" value="2">
            <input type="hidden" name="idEmprendimiento" id="idEmprendimiento" value="{{idEmprendimiento}}">             
        </form>
    <br><br>
    <form action="/registroProductos" method="GET">
    <button type="submit" value="Cancelar"></button>
    </form>
    {% endif %}

{% endblock body %}

</html>