{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmprendedorProfile</title>
{% endblock head %}

{% block body %}
    <h1>Emprendedor</h1>
    
    <!--Fotillo-->
    <img src="/static/images/emprendedor/{{data[0]["nombre_foto"]}}" width="400" height="341">
    <br>
    
    <!--Informacion general-->
    Nombre:
    {{data[0]["nombre"]}}
    <br>
    Email:
    {{data[0]["email"]}}
    <br>
    Telefono:
    {{data[0]["telefono"]}}
    <br>
    Pais:
    {{data[0]["pais"]}}
    <br>
    Ciudad:
    {{data[0]["ciudad"]}}
    <br>
    Biografia:
    <br>
    {{data[0]["biografia"]}}
    <br><br>

    <!--Boton Modificar la informacion general-->
    <form action="/emprendedorProfile" method="POST">
        <button type="submit" value="update">Modificar Informacion Personal</button>
        
        <input type="hidden" name="formId" id="formId" value="1">
        <input type="hidden" name="id" id="id" value="{{data[0]["id"]}}">
        <input type="hidden" name="nombre" id="nombre" value="{{data[0]["nombre"]}}">
        <input type="hidden" name="email" id="email" value="{{data[0]["email"]}}"> 
        <input type="hidden" name="telefono" id="telefono" value="{{data[0]["telefono"]}}">
        <input type="hidden" name="pais" id="pais" value="{{data[0]["pais"]}}">              
        <input type="hidden" name="ciudad" id="ciudad" value="{{data[0]["ciudad"]}}">
        <input type="hidden" name="biografia" id="biografia" value="{{data[0]["biografia"]}}">
        
    </form>
    
    <!--Form Modificar la informacion general-->
    {% if verdadero %}
        <p>Modificar datos personales</p>
        <form action="/emprendedorProfile" method="POST">
            Nombre: <input type="text" name="nombre" id="nombre" value="{{nombre}}"><br>
            Email: <input type="text" name="email" id="email" value="{{email}}"> <br>
            Telefono: <input type="text" name="telefono" id="telefono" value="{{telefono}}"><br>
            Pais: <input type="text" name="pais" id="pais" value="{{pais}}"><br>
            Ciudad: <input type="text" name="ciudad" id="ciudad" value="{{ciudad}}"><br>
            Biografia: <br><textarea name="biografia" cols="30" rows="10" id="biografia" value="{{biografia}}"></textarea><br><br>
            
            <!--Aplicar cambios-->
            <button type="submit" value="update">Aplicar cambios</button>
            <input type="hidden" name="formId" id="formId" value="2">
            <input type="hidden" name="id" id="id" value="{{id}}">
        </form>
    {% endif %}

    <!--Emprendimientos-->
    <h3>Mis emprendimientos </h3>

    <!--Tabla de emprendimientos-->
    <table border="1">

        <tr>
            <th>Emprendimiento</th>
            <th>Ir</th>
            <th>Eliminar</th>
        </tr>
        
        {% for registro in dataEmprendimiento %}
        <tr>
        <td>{{registro["nombre"]}}</td>
        <td>
            <!--Boton "Ir"-->
            <form action="/emprendedorProfile" method="POST">
                <button type="submit" value="ir">Ir</button>
                <input type="hidden" name="formId" id="formId" value="6">
                <input type="hidden" name="id" id="id" value="{{registro["id"]}}">
            </form>
        </td>
        <td>
            <!--Boton "delete"-->
            <form action="/emprendedorProfile" method="POST">
                <button type="submit" value="delete">Borrar</button>
                <input type="hidden" name="formId" id="formId" value="5">
                <input type="hidden" name="id" id="id" value="{{registro["id"]}}">
            </form>
        </td>
        {% endfor %}
    </table>
    <br>


    <!--Boton crear nuevo emprendimiento-->
    <form action="/emprendedorProfile" method="POST">
        <button type="submit" value="insert">Crear nuevo emprendimiento</button>
        <input type="hidden" name="formId" id="formId" value="3">
        <input type="hidden" name="id" id="id" value="{{id}}">

        <input type="hidden" name="estado" id="estado" value="{{data[0]["estado"]}}">
        <input type="hidden" name="descripcion" id="descripcion" value="{{data[0]["descripcion"]}}">
        <input type="hidden" name="historia" id="historia" value="{{data[0]["historia"]}}"> 
        <input type="hidden" name="eslogan" id="eslogan" value="{{data[0]["eslogan"]}}">
        <input type="hidden" name="inversion_inicial" id="inversion_inicial" value="{{data[0]["inversion_inicial"]}}">              
        <input type="hidden" name="fecha_fundacion" id="fecha_fundacion" value="{{data[0]["fecha_fundacion"]}}">
        <input type="hidden" name="venta_año_anterior" id="venta_año_anterior" value="{{data[0]["venta_año_anterior"]}}">
        <input type="hidden" name="oferta_porcentaje" id="oferta_porcentaje" value="{{data[0]["oferta_porcentaje"]}}">              
        <input type="hidden" name="nombre" id="nombre" value="{{data[0]["nombre"]}}">
        <input type="hidden" name="email" id="nombre" email="{{data[0]["email"]}}">
        <input type="hidden" name="telefono" id="telefono" value="{{data[0]["telefono"]}}">
        <input type="hidden" name="video" id="video" value="{{data[0]["video"]}}">
        <input type="hidden" name="facebook" id="facebook" value="{{data[0]["facebook"]}}">
        <input type="hidden" name="instagram" id="instagram" value="{{data[0]["instagram"]}}">
        <input type="hidden" name="youtube" id="youtube" value="{{data[0]["youtube"]}}">
    </form>

    <br>
    <!--Form crear nuevo emprendimiento-->

    {% if verdaderoEmprendimiento %}
    
    <form action="/emprendedorProfile" method="POST">
        Estado: 
        <select name="estado" id="estado">
            <option value="Huevo">Huevo </option>
            <option value="Pez Dorado">Pez dorado</option>
            <option value="tiburon">Tiburón</option>
        </select><br>
        Descripcion: <br><textarea name="descripcion" cols="30" rows="10" id="descripcion" value="{{descripcion}}"></textarea><br>
        Historia: <input type="text" name="historia" id="historia" value="{{historia}}"><br>
        Eslogan: <input type="text" name="eslogan" id="eslogan" value="{{eslogan}}"><br>
        Inversion inicial: <input type="text" name="inversion_inicial" id="inversion_inicial" value="{{inversion_inicial}}"><br>
        Fecha fundacion: <input type="date" name="fecha_fundacion" id="fecha_fundacion" value="{{fecha_fundacion}}"><br>
        Venta de año anterior: <input type="text" name="venta_año_anterior" id="venta_año_anterior" value="{{venta_año_anterior}}"><br>
        Porcentaje a ofertar: <input type="text" name="oferta_porcentaje" id="oferta_porcentaje" value="{{oferta_porcentaje}}"><br>
        Nombre del emprendimiento: <input type="text" name="nombre" id="nombre" value="{{nombre}}"><br><br>
        Email: <input type="text" name="email" id="email" value="{{email}}"><br>
        Telefono: <input type="text" name="telefono" id="telefono" value="{{telefono}}"><br>
        Video: <input type="url" name="video" id="video" value="{{video}}"><br>
        Facebook: <input type="text" name="facebook" id="facebook" value="{{facebook}}"><br>
        Instagram: <input type="text" name="instagram" id="instagram" value="{{instagram}}"><br>
        Youtube: <input type="text" name="youtube" id="youtube" value="{{youtube}}"><br>
        
        <!--Foto: <input type="file" name="fileToUpload" id="fileToUpload"><br><br>-->
        
        <!--Insertar emprendimiento-->
        <button type="submit" value="update">Crear emprendimiento</button>
        <input type="hidden" name="formId" id="formId" value="4">
        <input type="hidden" name="id" id="id" value="{{id}}">
    </form>
    <br><br>
    {% endif %}


{% endblock body %}

</html>