
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    
    <h1>Inicio</h1>
    <br><br>
    <h2>
        <a href="/inversionistaAdmin">Inversionista</a>
    </h2>
    <br><br>
    <h2>
        <a href="/emprendedorAdmin">Emprendedor</a>
    </h2>
    <br><Br>
    <h2>
        <a href="/productosAdmin">Productos</a>
    </h2>
    <br><br>
    <h2>
        <a href="/fundadoresAdmin">Fundadores</a>
    </h2>
    <br><br>
    <h2>
        <a href="/EmprendimientoAdmin">Emprendimiento</a>
    </h2>
    <br><br>
    <h2>
        <a href="/categoriaAdmin">Categoria</a>
    </h2>
    <br><br>
    <h2>
        <a href="/agregarAdmin">Administradores</a>
    </h2>
</body>

</html>