<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">   
    <link rel="stylesheet" href="static/emprendimiento/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="static/emprendimiento/vendors/themify-icons/themify-icons.css">
	<link rel="stylesheet" href="static/emprendimiento/vendors/linericon/style.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="static/emprendimiento/css/style.css">

    <title>Informacion del emprendimiento</title>
</head>

<body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
            <a class="navbar-brand logo_h" href="index.html"><img src="" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                {% if not vistaEmprendimiento %}
                <li class="nav-item active"><a class="nav-link" href="/emprendimientoInicioInversionista">Inicio</a></li>
                {%endif%}
                {% if  vistaEmprendimiento %}
                <li class="nav-item active"><a class="nav-link" href="/emprendimientoInicio">Inicio</a></li>
                {%endif%}
                {% if  vistaEmprendimiento %}
                <li class="nav-item active"><a class="nav-link" href="/quienes_somos">Historia</a></li>
                {%endif%}
                {% if not vistaEmprendimiento %}
                <li class="nav-item active"><a class="nav-link" href="/quienes_somosInv">Historia</a></li>
                {%endif%}
                {% if  vistaEmprendimiento %}
                <li class="nav-item active"><a class="nav-link" href="/registroProductos">Productos</a></li>
                {%endif%}
                {% if not vistaEmprendimiento %}
                <li class="nav-item active"><a class="nav-link" href="/registroProductosInv">Productos</a></li>
                {%endif%}
                {% if  vistaEmprendimiento %}
                <li class="nav-item active"><a class="nav-link" href="/informacion">Contactos</a></li>
                {%endif%}
                {% if not vistaEmprendimiento %}
                <li class="nav-item active"><a class="nav-link" href="/infoEmprendimiento">Nuestra información</a></li>
                {%endif%}
                </ul>

                <ul class="nav-shop">
                {% if  vistaEmprendimiento %}
                <li class="nav-item"><a class="button button-header" href="emprendedorProfile">Volver a mi perfil</a></li>
                {%endif%}
                {% if not vistaEmprendimiento %}
                <li class="nav-item"><a class="button button-header" href="/InicioInv">Volver a mi perfil</a></li>
                {%endif%}
                </ul>
            </div>
            </div>
        </nav>
        </div>
    </header>
    <!--================ Start Header Menu Area =================-->
    <!-- ================ start banner area ================= -->	
		<div class="container h-1">
		<br><br>
			<div class="blog-banner">
				<div class="text-center">
					<h1>Información del emprendimiento</h1>
				</div>
			</div>
    	</div>
	<!-- ================ end banner area ================= -->

    <!--================Checkout Area =================-->
  
<section class="checkout_area section-margin--small">
    <section class="order_details section-margin--small">
        <div class="container">
            <div class="order_details_table">
                <h2>Información financiera</h2>
                <div class="table-responsive">
                    {% for registro in data2 %}    
                        <table class="table">
                            <thead>
                            <tr>                
                                <th scope="col">Información</th>
                                <th scope="col"></th>
                                <th scope="col">Monto</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                <p>Inversión inicial</p>
                                </td>
                                <td>
                                
                                </td>
                                <td>
                                <p>$ {{registro["inversion_inicial"]}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <p>Ventas del año pasado</p>
                                </td>
                                <td>
                                
                                </td>
                                <td>
                                <p>$ {{registro["venta_año_anterior"]}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <p>Porcentaje dispuesto a ofertar</p>
                                </td>
                                <td>
                                
                                </td>
                                <td>
                                <p>{{registro["oferta_porcentaje"]}} %</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <p></p>
                                </td>
                                <td>
                                
                                </td>
                                <td>
                                <p></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
        
        
        <div class="container">
        <div class="billing_details">
            <div class="row">
             
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Redes sociales</h2>
                        <ul class="list">
                            <li><a href="#"><h4>Product <span>Total</span></h4></a></li>
                            <li><a href="#">Fresh Blackberry <span class="middle">x 02</span> <span class="last">$720.00</span></a></li>
                            <li><a href="#">Fresh Tomatoes <span class="middle">x 02</span> <span class="last">$720.00</span></a></li>
                            <li><a href="#">Fresh Brocoli <span class="middle">x 02</span> <span class="last">$720.00</span></a></li>
                        </ul>
                        <ul class="list list_2">
                            <li><a href="#">Subtotal <span>$2160.00</span></a></li>
                            <li><a href="#">Shipping <span>Flat rate: $50.00</span></a></li>
                            <li><a href="#">Total <span>$2210.00</span></a></li>
                        </ul>
                        <div class="payment_item">
                            <div class="radion_btn">
                                <input type="radio" id="f-option5" name="selector">
                                <label for="f-option5">Check payments</label>
                                <div class="check"></div>
                            </div>
                            <p>Please send a check to Store Name, Store Street, Store Town, Store State / County,
                                Store Postcode.</p>
                        </div>
                        <div class="payment_item active">
                            <div class="radion_btn">
                                <input type="radio" id="f-option6" name="selector">
                                <label for="f-option6">Paypal </label>
                                <img src="img/product/card.jpg" alt="">
                                <div class="check"></div>
                            </div>
                            <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal
                                account.</p>
                        </div>
                        <div class="creat_account">
                            <input type="checkbox" id="f-option4" name="selector">
                            <label for="f-option4">I’ve read and accept the </label>
                            <a href="#">terms & conditions*</a>
                        </div>
                        <div class="text-center">
                          <a class="button button-paypal" href="#">Proceed to Paypal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->


    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div id="rhs2">
                    <h2>Medios de contacto</h2>
                    <br>
                        <table>
                            {% for registro in data %}
                                <tr>
                                    <td><h4>Correo electronico</h4> 
                                        {{registro["email"]}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><h4>Numero de telefono</h4> 
                                        {{registro["telefono"]}}
                                    </td>
                                </tr>
                                <br>
                                <tr>
                                    <td>
                                        <h3>Redes sociales</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td><h4>Facebook</h4> 
                                        {{registro["facebook"]}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><h4>Instagram</h4> 
                                        {{registro["instagram"]}} 
                                    </td>
                                </tr>
                                <tr>
                                    <td><h4>Youtube</h4> 
                                        {{registro["youtube"]}} 
                                    </td>
                                </tr>
                                </table>
                                <br>
                                {%if vistaEmprendedor%}
                                    <form action="/informacion" method="POST">
                                        <button type="submit" value="modificar"> Modificar</button>
                                        <input type="hidden" name="formId" id="formId" value="3">
                                        <input type="hidden" name="emailx" id="emailx" value = "{{registro["email"]}}">
                                        <input type="hidden" name="telefonox" id="telefonox" value = "{{registro["telefono"]}}">
                                        <input type="hidden" name="facebookx" id="facebookx" value = "{{registro["facebook"]}}">
                                        <input type="hidden" name="instagramx" id="instagramx" value = "{{registro["instagram"]}}">
                                        <input type="hidden" name="youtubex" id="youtubex" value = "{{registro["youtube"]}}">
                                    </form>
                                {%endif%}
                            {% endfor %}  

                        {%if mostrar1%}
                            <form action = "/informacion" method = "POST">
                                <br>
                                <p>Modifica el campo que necesites</p>
                                <table>
                                    <tr>
                                        <td><input type="text" id="emailUP" name="emailUP" value="{{emailUpx}}" ></td>
                                        <td><input type="text" id="telefonoUP" name="telefonoUP" value="{{telefonoUpx}}" ></td>
                                        <td><input type="text" id="facebookUP" name="facebookUP" value="{{facebookUpx}}" ></td>
                                        <td><input type="text" id="instagramUP" name="instagramUP" value="{{instagramUpx}}" ></td>
                                        <td><input type="text" id="youtubeUP" name="youtubeUP" value="{{youtubeUpx}}" ></td>
                                        <td><input type="submit" value = "Aceptar Cambios"> </td>
                                        <input type="hidden" id="formId" name="formId" value="4">
                                    </tr>
                                </table>
                            </form>
                        {%endif%}
                </div>
            </div>

            <div class="col-xs-6">
                <div id="lhs">
                    <p>{{message}}</p>
                    <br>
                        <table>
                            <tr>
                                <td>
                                    <h2>Informacion financiera</h2>
                                </td>
                            </tr>
                            {% for registro in data2 %}
                                <tr>
                                    <td><h3>Fecha de fundacion</h3> 
                                        <br>
                                        {{registro["fecha_fundacion"]}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><h3>Inversion inicial</h3> 
                                        <br>
                                        $ {{registro["inversion_inicial"]}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><h3>Ventas del año pasado</h3> 
                                        <br>
                                        $ {{registro["venta_año_anterior"]}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><h3>Porcentaje dispuesto a ofrecer</h3> 
                                        <br>
                                        {{registro["oferta_porcentaje"]}} %
                                    </td>
                                </tr>
                                </table>
                                <br>
                                {%if vistaEmprendedor%}
                                    <form action="/informacion" method="POST">
                                        <button type="submit" value="delete"> Modificar</button>
                                        <input type="hidden" name="formId" id="formId" value="1">
                                        <input type="hidden" name="fecha_fundacionx" id="fecha_fundacionx" value = "{{registro["fecha_fundacion"]}}">
                                        <input type="hidden" name="inversion_inicialx" id="inversion_inicialx" value = "{{registro["inversion_inicial"]}}">
                                        <input type="hidden" name="venta_año_anteriorx" id="venta_año_anteriorx" value = "{{registro["venta_año_anterior"]}}">
                                        <input type="hidden" name="oferta_porcentajex" id="oferta_porcentajex" value = "{{registro["oferta_porcentaje"]}}">
                                    </form>
                                {%endif%}   
                            {% endfor %}
                            
                        {%if mostrar%}
                            <form action = "/informacion" method = "POST">
                            <br>
                            <p>Modifica el campo que necesites</p>
                                <table>
                                    <tr>
                                        <td><input type="text" id="fecha_fundacionUP" name="fecha_fundacionUP" value="{{fecha_fundacionUpx}}" ></td>
                                        <td><input type="text" id="inversion_inicialUP" name="inversion_inicialUP" value="{{inversion_inicialUpx}}" ></td>
                                        <td><input type="text" id="venta_año_anteriorUP" name="venta_año_anteriorUP" value="{{venta_año_anteriorUpx}}" ></td>
                                        <td><input type="text" id="oferta_porcentajeUP" name="oferta_porcentajeUP" value="{{oferta_porcentajeUpx}}" ></td>
                                        <td><input type="submit" value = "Aceptar Cambios"> </td>
                                        <input type="hidden" id="formId" name="formId" value="2">
                                    </tr>
                                </table>
                            </form>
                        {%endif%}
                </div>
            </div>
        </div>
        {%if vistaInversor%}
        <p>{{message1}}</p>
        <br>
            <h2>¿Estas interesado? ¡Envia un correo a los emprendedores!</h2>
            <form action="/infoEmprendimiento" method="POST">
                <textarea name="message" id = "message" rows="10" cols="80" >Escribe aquí el correo que deseas enviar</textarea>
                <button type="submit" value="send"> Enviar</button>
            </form>
        {%endif%}
    </div>

</html>