<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Inversionista</title>
</head>
<body>
    
    <table>
        <tr>
            <form action="/busqueda">
            <th><input type= "text" id="busqueda" name="busqueda"></th>
            <th><input type="submit" value="buscar"></th>
            </form>
            <th><a href="/InicioInv">Inicio</a></th>
            <th><a href="/perfilInversionista">Perfil</a></th>
            <th><a href="/guardadosInv">Guardados</a></th>
            <th>Cerrar sesión</th>
        </tr>
    </table>
    <h1>Bienvenido</h1>
    <table>
        {%for registro in data%}
        <tr>{%if registro["nombre_foto"] == None%}
                <td><img src="/static/images/emprendimientos/unnamed.png" width="100" height="100"></td>
            {%endif%}
            {%if registro["nombre_foto"] != None%}
            <td><img src="/static/images/emprendimientos/{{registro["nombre_foto"]}}" width="100" height="100"></td>
            {%endif%}
            <td><p>{{registro["nombre"]}}</p></td>
            <td>{{registro["descripcion"]}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>