<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Inversionista</title>

    <!--Icono de barra-->
	<link rel="shortcut icon" href="static/t2/assets/ico/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" sizes="114x114" href="static/t2/assets/ico/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="static/t2/assets/ico/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="static/t2/assets/ico/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" href="static/t2/assets/ico/apple-touch-icon.png" />


</head>
<body>
    <table>
        <tr>
            <form action="/busqueda">
            <th><input type= "text" id="busqueda" name="busqueda"></th>
            <th><input type="submit" value="buscar"></th>
            </form>
            <th><a href="/InicioInv">Inicio</a></th>
            <th><a href="/perfilInversionista">Perfil</a></th>
            <th><a href="/guardadosInv">Guardados</a></th>
            <th><a href="/cerrarSesion">Cerrar sesión</a></th>
        </tr>
    </table>
    <h1>Edita tu perfil</h1>
    
            {%if editar%}
            <form action="/perfilInversionista" method="POST" enctype="multipart/form-data">
            Nombre: <input type="text" name="nombre" id="nombre" value="{{nombre}}"><br>
            Foto de perfil: <input type="file" name="fileToUpload" id="fileToUpload"><br>
            Biografia: <input type="text" name="biografia" id="biografia" value="{{biografia}}"><br>
            Correo Electrónico: <input type="text" name="email" id="email" value="{{email}}"><br>
            País: <input type="text" name="pais" id="pais" value="{{pais}}"><br>
            Ciudad: <input type="text" name="ciudad" id="ciudad" value="{{ciudad}}"><br>
            <td><button type="submit" value= "Update">Actualizar</button></td>
            <input type="hidden" name="formId" id="formId" value="2">
            </form>
            {%endif%}

            {%if not editar%}
            <img src="/static/images/inversionista/{{nombre_foto}}" width="100" height="100"><br>
            Nombre: {{nombre}}<br>
            Biografía: {{biografia}}<br>
            Correo Electrónico: {{email}}<br>
            País: {{pais}}<br>
            Ciudad: {{ciudad}}<br>
            <form action="/perfilInversionista" method="POST" enctype="multipart/form-data">
            <td><button type="submit" value= "Update">Actualizar</button></td>
            <input type="hidden" name="formId" id="formId" value="1">
            </form>
            {%endif%}
            <br>
            <br>
             <p>{{message}}</p>
            <h3>Tus intereses son: </h3>
            <p>Tus interes son importantes para mostrarte emprendimientos y productos de relevancia </p>
            <form action="/perfilInversionista" method="POST">
                <button type="submit" value="delete">Agregar Interes</button>
                <input type="hidden" name="formId" id="formId" value="4">
            </form>
            {%if  agregar%}
                <form action="/perfilInversionista" method="POST">
                    <input type="checkbox" id="Alimento" name="Alimento" value="Alimento">
                    <label for="Alimento">Alimento</label><br>
                    <input type="checkbox" id="Moda" name="Moda" value="Moda">
                    <label for="Moda">Moda</label><br>
                    <input type="checkbox" id="CyTec" name="CyTec" value="CyTec">
                    <label for="CyTec">Ciencia y Tecnología</label><br>
                    <input type="checkbox" id="Social" name="Social" value="Social">
                    <label for="Social">Social</label><br>
                    <input type="checkbox" id="Salud" name="Salud" value="Salud">
                    <label for="Salud">Salud</label><br>
                    <input type="checkbox" id="Academico" name="Academico" value="Academico">
                    <label for="Academico">Academico</label><br>
                    <input type="checkbox" id="Entretenimiento" name="Entretenimiento" value="Entretenimiento">
                    <label for="Entretenimiento">Entretenimiento</label><br>
                    <input type="checkbox" id="Infantil" name="Infantil" value="Infantil">
                    <label for="Infantil">Infantil</label><br>
                    <input type="checkbox" id="Belleza" name="Belleza" value="Belleza">
                    <label for="Belleza">Belleza</label><br>
                    <input type="checkbox" id="Ecologia" name="Ecologia" value="Ecologia">
                    <label for="Ecologia">Ecología</label><br>
                    <input type="checkbox" id="Otra" name="Otra" value="Otra">
                    <label for="Otra">Otra</label><br>
                    <input type="hidden" name="formId" id="formId" value="5">
                    <button type="submit" value="insert">Agregar</button>
                </form>
            {%endif%}  
            <br>
            {% for registro in interes %}
                <table>
                    <tr>
                        <td>{{registro["categoria"]}}</td>
                        <td>
                            <form action="/perfilInversionista" method="POST">
                                <button type="submit" value="delete">Borrar</button>
                                <input type="hidden" name="formId" id="formId" value="3">
                                <input type="hidden" name="id" id="id" value="{{registro["id"]}}">
                            </form>
                        </td>
                    </tr>
                </table>
                {% endfor %}
    
</body>
</html>