<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BootZard - Bootstrap Wizard Template</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="static/t2/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/t2/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/t2/assets/css/form-elements.css">
        <link rel="stylesheet" href="static/t2/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="static/t2/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/t2/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/t2/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/t2/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="static/t2/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">BootZard - Bootstrap Wizard Template</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<span class="li-text" style="color: black">
								¿No buscas invertir? Registra tu idea de negocios 
							</span> 
							<a href="#" style="color: black"><strong>aquí</strong></a> 
							<span class="li-text">
								
							
						</li>
					</ul>
				</div>
			</div>
		</nav>

        <!-- Top content -->
        <div class="top-content">
            <div class="container">
                
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1>Únete a <strong>Fishing</strong> hoy</h1>
                        <div class="description">
                       	    <p>
                               An ocean full of great ideas
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                    	<form role="form" action="" method="post" class="f1">

                    		<h3>Registrate a fishing</h3>
                                <div class="f1-steps">
                                    <div class="f1-progress">
                                        <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
                                    </div>
                                    <div class="f1-step active">
                                        <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                                        <p>Datos personales</p>
                                    </div>
                                    <div class="f1-step">
                                        <div class="f1-step-icon"><i class="fa fa-key"></i></div>
                                        <p>Cuenta</p>
                                    </div>
                                    <div class="f1-step">
                                        <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                                        <p>Preferencias</p>
                                    </div>
                                </div>
                    		
                    		<fieldset>
                    		    <h4>Dinos quién eres:</h4>
                    			<div class="form-group">
                    			    <label class="sr-only" for="f1-first-name">Nombre</label>
                                    <input type="text" name="nombre" placeholder="Nombre y Apellido" class="f1-first-name form-control" id="nombre">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-last-name">Pais</label>
                                    <input type="text" name="country" placeholder="Pais" class="f1-last-name form-control" id="country">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-last-name">Ciudad</label>
                                    <input type="text" name="city" placeholder="Ciudad" class="f1-last-name form-control" id="city">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-about-yourself">Biografia</label>
                                    <textarea name="bio" placeholder="Biografia" class="f1-about-yourself form-control" id="bio"></textarea>
                                </div>
                                <h5>Tipo:</h5>
                                <select name="tipo" id="tipo">
                                        <option value="1">Grupo de inversión</option>
                                        <option value="2">Inversión individual</option>
                                </select>
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-next">Siguiente</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <h4>Configura tu cuenta:</h4>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-last-name">Nombre de Usuario</label>
                                    <input type="text" name="user" placeholder="Usuario" class="f1-last-name form-control" id="user">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-email">Email</label>
                                    <input type="email" name="email" placeholder="Email" class="f1-email form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-password">Contrasenia</label>
                                    <input type="password" name="password" placeholder="Contraseña" class="f1-password form-control" id="password">
                                </div>
                                <!--
                                <div class="form-group">
                                    <label class="sr-only" for="f1-repeat-password">Repeat password</label>
                                    <input type="password" name="f1-repeat-password" placeholder="Repeat password..." 
                                                        class="f1-repeat-password form-control" id="f1-repeat-password">
                                </div>
                                -->
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-previous">Anterior</button>
                                    <button type="button" class="btn btn-next">Siguiente</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <h4>Tus temas de interés:</h4>
                                <input type="checkbox" id="Alimento" name="Alimento" value="Alimento">
                                <label for="Alimento">Alimento</label><br>
                                <input type="checkbox" id="Moda" name="Moda" value="Moda">
                                <label for="Moda">Moda</label><br>
                                <input type="checkbox" id="CyTec" name="CyTec" value="CyTec">
                                <label for="CyTec">Ciencia y Tecnología</label><br>
                                <input type="checkbox" id="Social" name="Social" value="Social">
                                <label for="Social">Social</label><br>
                                <input type="checkbox" id="Salud" name="Salud" value="Salud">
                                <label for="Salud">Salud</label><br>
                                <input type="checkbox" id="Academico" name="Academico" value="Academico">
                                <label for="Academico">Academico</label><br>
                                <input type="checkbox" id="Entretenimiento" name="Entretenimiento" value="Entretenimiento">
                                <label for="Entretenimiento">Entretenimiento</label><br>
                                <input type="checkbox" id="Infantil" name="Infantil" value="Infantil">
                                <label for="Infantil">Infantil</label><br>
                                <input type="checkbox" id="Belleza" name="Belleza" value="Belleza">
                                <label for="Belleza">Belleza</label><br>
                                <input type="checkbox" id="Ecologia" name="Ecologia" value="Ecologia">
                                <label for="Ecologia">Ecología</label><br>
                                <input type="checkbox" id="Otra" name="Otra" value="Otra">
                                <label for="Otra">Otra</label><br>
                                <div class="form-group">
                                    
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-previous">Anterior</button>
                                    <button type="submit" class="btn btn-submit">Siguiente</button>
                                </div>
                            </fieldset>
                    	
                    	</form>
                    </div>
                </div>
                    
            </div>
        </div>


        <!-- Javascript -->
        <script src="static/t2/assets/js/jquery-1.11.1.min.js"></script>
        <script src="static/t2/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/t2/assets/js/jquery.backstretch.min.js"></script>
        <script src="static/t2/assets/js/retina-1.1.0.min.js"></script>
        <script src="static/t2/assets/js/script.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>





<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>registroInv</title>
  </head>
  <body>
    <h1>Registrate como Inversionista</h1>
    <a href=/signUpEmprendedor >¿No buscas invertir? Registra tu idea de negocios aquí</a>
    <br><br>
    <form action="/signUpInversor" method="POST">
      Usuario: <br />
      <input type="text" name="user" id="user" />
      <br /><br />
      Nombre: <br />
      <input type="text" name="nombre" id="nombre" />
      <br /><br />
      Contraseña: <br />
      <input type="password" name="password" id="password" />
      <br /><br />
      E-mail: <br />
      <input type="email" name="email" id="email" />
      <br /><br />
      Pais: <br />
      <input type="text" name="country" id="country" />
      <br /><br />
      Ciudad: <br />
      <input type="text" name="city" id="city" />
      <br /><br />
      Interes: <br />
      <input type="checkbox" id="Alimento" name="Alimento" value="Alimento">
      <label for="Alimento">Alimento</label><br>
      <input type="checkbox" id="Moda" name="Moda" value="Moda">
      <label for="Moda">Moda</label><br>
      <input type="checkbox" id="CyTec" name="CyTec" value="CyTec">
      <label for="CyTec">Ciencia y Tecnología</label><br>
      <input type="checkbox" id="Social" name="Social" value="Social">
      <label for="Social">Social</label><br>
      <input type="checkbox" id="Salud" name="Salud" value="Salud">
      <label for="Salud">Salud</label><br>
      <input type="checkbox" id="Academico" name="Academico" value="Academico">
      <label for="Academico">Academico</label><br>
      <input type="checkbox" id="Entretenimiento" name="Entretenimiento" value="Entretenimiento">
      <label for="Entretenimiento">Entretenimiento</label><br>
      <input type="checkbox" id="Infantil" name="Infantil" value="Infantil">
      <label for="Infantil">Infantil</label><br>
      <input type="checkbox" id="Belleza" name="Belleza" value="Belleza">
      <label for="Belleza">Belleza</label><br>
      <input type="checkbox" id="Ecologia" name="Ecologia" value="Ecologia">
      <label for="Ecologia">Ecología</label><br>
      <input type="checkbox" id="Otra" name="Otra" value="Otra">
      <label for="Otra">Otra</label><br>
      <br /><br />
      Tipo de inversión: <br />
      <select name="tipo" id="tipo">
        <option value="1">Grupo de inversión</option>
        <option value="2">Inversión individual</option>
      </select>
      <br /><br />
      Biografía: <br />
      <input type="text" name="bio" id="bio" />
      <br /><br />
      <input type="submit" value="Create Acount" />
    </form>
    
  </body>
</html>
-->