<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Registra tu idea de Negocios</h1> 
    <form action="/signUpEmprendedor" method="POST">
      
      Usuario: <br />
      <input type="text" name="user" id="user" />
      <p style="color: red">{{ errorMessage }}</p>
      
      Nombre: <br />
      <input type="text" name="nombre" id="nombre" value={{namex}}/>
      <br /><br />
      Contraseña: <br />
      <input type="password" name="password" id="password" />
      <br /><br />
      E-mail: <br />
      <input type="email" name="email" id="email" value={{emailx}}/>
      <br /><br />
      Pais: <br />
      <input type="text" name="country" id="country" value={{countryx}}/>
      <br /><br />
      Ciudad: <br />
      <input type="text" name="city" id="city" value={{cityx}}/>
      <br /><br />
      Fecha de fundación: <br />
      <input type="date" name="fundationDate" id="fundationDate" />
      <br /><br />
      Teléfono: <br />
      <input type="text" name="phone" id="phone" value={{phonex}}/>
      <br /><br />
      Eslogan: <br />
      <input type="text" name="eslogan" id="eslogan" value={{esloganx}}/>
      <br /><br />
      Estado: <br />
      <select name="estado" id="estado">
        <option value="Huevo">Huevo</option>
        <option value="PezDorado">Pez dorado</option>
        <option value="tiburon">Tiburón</option>
      </select>
      <br /><br />
      Descripción: <br />
      <input type="text" name="description" id="description" value={{descx}}/>
      <br /><br />
      <input type="submit" value="Create Acount" />
    </form>
  </body>
</html>
