<!DOCTYPE html>
<html lang="en">
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Productos</title>
    
    <link rel="stylesheet" href="static/emprendimiento/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/linericon/style.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="static/emprendimiento/css/style.css">

{% endblock head %}
{% block body %}
    <!--================ Start Header Menu Area =================-->
        <header class="header_area">
        <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
            <a class="navbar-brand logo_h" href="index.html"><img src="" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                {% if vistaEmprendimiento %}
                <li class="nav-item active"><a class="nav-link" href="/emprendimientoInicioInversionista">Inicio</a></li>
                {%endif%}
                {% if not vistaEmprendimiento %}
                <li class="nav-item active"><a class="nav-link" href="/emprendimientoInicio">Inicio</a></li>
                {%endif%}
                {% if not vistaEmprendimiento %}
                <li class="nav-item active"><a class="nav-link" href="/quienes_somos">Historia</a></li>
                {%endif%}
                {% if vistaEmprendimiento %}
                <li class="nav-item active"><a class="nav-link" href="/quienes_somosInv">Historia</a></li>
                {%endif%}
                {% if not vistaEmprendimiento %}
                <li class="nav-item active"><a class="nav-link" href="/registroProductos">Productos</a></li>
                {%endif%}
                {% if vistaEmprendimiento %}
                <li class="nav-item active"><a class="nav-link" href="/registroProductosInv">Productos</a></li>
                {%endif%}
                {% if not vistaEmprendimiento %}
                <li class="nav-item active"><a class="nav-link" href="/informacion">Contactos</a></li>
                {%endif%}
                {% if vistaEmprendimiento %}
                <li class="nav-item active"><a class="nav-link" href="/infoEmprendimiento">Nuestra información</a></li>
                {%endif%}
                </ul>

                <ul class="nav-shop">
                {% if not vistaEmprendimiento %}
                <li class="nav-item"><a class="button button-header" href="emprendedorProfile">Volver a mi perfil</a></li>
                {%endif%}
                {% if vistaEmprendimiento %}
                <li class="nav-item"><a class="button button-header" href="/InicioInv">Volver a mi perfil</a></li>
                {%endif%}
                </ul>
            </div>
            </div>
        </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
    <!-- ================ start banner area ================= -->	
		<div class="container h-1">
		<br><br>
			<div class="blog-banner">
				<div class="text-center">
					<h1>Productos - Servicios</h1>
				</div>
			</div>
    	</div>
	<!-- ================ end banner area ================= -->

    <!-- ================ category section start ================= -->		  
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="sidebar-categories">
            <div class="head">Browse Categories</div>
            <ul class="main-categories">
              <li class="common-filter">
                <form action="#">
                  <ul>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="men" name="brand"><label for="men">Men<span> (3600)</span></label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="women" name="brand"><label for="women">Women<span> (3600)</span></label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="accessories" name="brand"><label for="accessories">Accessories<span> (3600)</span></label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="footwear" name="brand"><label for="footwear">Footwear<span> (3600)</span></label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="bayItem" name="brand"><label for="bayItem">Bay item<span> (3600)</span></label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="electronics" name="brand"><label for="electronics">Electronics<span> (3600)</span></label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="food" name="brand"><label for="food">Food<span> (3600)</span></label></li>
                  </ul>
                </form>
              </li>
            </ul>
          </div>
          <div class="sidebar-filter">
            <div class="top-filter-head">Product Filters</div>
            <div class="common-filter">
              <div class="head">Brands</div>
              <form action="#">
                <ul>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="brand"><label for="apple">Apple<span>(29)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="brand"><label for="asus">Asus<span>(29)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="brand"><label for="gionee">Gionee<span>(19)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="micromax" name="brand"><label for="micromax">Micromax<span>(19)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="samsung" name="brand"><label for="samsung">Samsung<span>(19)</span></label></li>
                </ul>
              </form>
            </div>
            <div class="common-filter">
              <div class="head">Color</div>
              <form action="#">
                <ul>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Black<span>(29)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">Black
                      Leather<span>(29)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">Black
                      with red<span>(19)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Gold<span>(19)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">Spacegrey<span>(19)</span></label></li>
                </ul>
              </form>
            </div>
            <div class="common-filter">
              <div class="head">Price</div>
              <div class="price-range-area">
                <div id="price-range"></div>
                <div class="value-wrapper d-flex">
                  <div class="price">Price:</div>
                  <span>$</span>
                  <div id="lower-value"></div>
                  <div class="to">to</div>
                  <span>$</span>
                  <div id="upper-value"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="">
                <select>
                    
                </select>
            </div>
            
            <div class="sorting mr-auto">
              
            </div>
           
            <div>
              
              <div class="input-group filter-bar-search">
                <input type="text" placeholder="Search">
                <div class="input-group-append">
                  <button type="button"><i class="ti-search"></i></button>
                </div>
              </div>

            </div>
        </div>
          <!-- End Filter Bar -->
          <!-- Start Best Seller -->


        {% for registro in data %}
        <section class="lattest-product-area pb-40 category-list">
            <div class="row">
                <div class="col-md-6 col-lg-7">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="/static/images/productos/{{registro["nombre_foto"]}}" width="350" height="241" alt="">
                            <ul class="card-product__imgOverlay">
                            <li><button><i class="ti-search"></i></button></li>
                            <form action="/guardar" method="POST">
                              <li><button type="submit"><i class="ti-shopping-cart"></i></button></li>
                              <input type="hidden" name="id" id="id" value="{{registro["id"]}}">
                            </form>
                            <form action="/like" method="POST">
                              <li><button><i class="ti-heart"></i></button></li>
                              <input type="hidden" name="id" id="id" value="{{registro["id"]}}">
                            </form>
                            </ul>
                        </div>
                  
                    </div> 
                </div>

                <!--==========================================================================================================-->

                
                <div class="col-md-6 col-lg-4">
                    <div class="card text-center card-product">
                  
                        <div class="card-body">
                            <h4 class="card-product__title"><a href="#">{{registro["nombre"]}}</a></h4>
                            <p>Patente: {{registro["patente"]}}</p>
                            <p>Costo unitario: ${{registro["costo_unitario"]}}</p>
                            <p>Precio de venta: {{registro["precio_venta"]}}</p>
                            <p>Descripción:{{registro["descripcion"]}} </p>
                            
                            {% if not vistaEmprendimiento%}
                              <form action="/registroProductos" method="POST" enctype="multipart/form-data">
                                  <input type="submit" class="button button-postComment button--active" value="Borrar">
                                  <input type="hidden" name="formId" id="formId" value="2">
                                  <input type="hidden" name="id_producto" id="id_producto" value="{{registro["id"]}}">
                              </form>
                            
                              <form action="/registroProductos" method="POST" enctype="multipart/form-data">
                                  <br>
                                  <input type="submit" class="button button-postComment button--active" value="Modificar">
                                
                                  <input type="hidden" name="formId" id="formId" value="3">
                                  <input type="hidden" name="id_producto" id="id_producto" value="{{registro["id"]}}">
                                  <input type="hidden" id="nombre" name="nombre" value="{{registro["nombre"]}}">
                                  <input type="hidden" name="nombre_foto" id="nombre_foto" value="{{registro["nombre_foto"]}}">
                                  <input type="hidden" name="descripcion" id="descripcion" value="{{registro["descripcion"]}}">
                                  <input type="hidden" name="costoUnitario" id="costoUnitario" value="{{registro["costo_unitario"]}}">
                                  <input type="hidden" name="precioVenta" id="precioVenta" value="{{registro["precio_venta"]}}">
                                  <input type="hidden" name="patente" id="patente" value="{{registro["patente"]}}">
                              </form>
                          {% endif %}
                  </div>
                </div>
              </div>
                
            


        </section>
      {% endfor %}
    </div>
  </section>
	<!-- ================ category section end ================= -->		  

<!-- ================ Subscribe section start ================= -->		  
  {% if not vistaEmprendimiento %}
  <section class="subscribe-position">
    <div class="container">
      <div class="subscribe text-center">
        <h3 class="subscribe__title">Ingresa otro producto</h3>
        <p>Llena todos los campos</p>
        <div id="mc_embed_signup">
          <form action="/registroProductos" method="POST" enctype="multipart/form-data">
            Nombre: <input type="text" id="nombre" name="nombre"><br>
            Foto: <input type="file" name="fileToUpload" id="fileToUpload"><br>
            Descripción: <br><textarea name="descripcion" id="descripcion" cols="30" rows="10"></textarea><br>
            Costo unitatio: $<input type="number" name="costoUnitario" id="costoUnitario" step="0.01"><br>
            Precio de venta: $<input type="number" name="precioVenta" id="precioVenta" step="0.01"><br>
            No. Patente: <input type="number" name="patente" id="patente"><br>
            <input type="submit" value="Registrar">
            <input type="hidden" name="formId" id="formId" value="1">
        <!--IGNORAAAAR, NO BORRAR-->
        </form>
          
          <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe-form form-inline mt-5 pt-1">
            <div class="form-group ml-sm-auto">
              <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '" >
              <div class="info"></div>
            </div>
            <button class="button button-subscribe mr-auto mb-1" type="submit">Subscribe Now</button>
            <div style="position: absolute; left: -5000px;">
              <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
            </div>

          </form>
        </div>
        
      </div>
    </div>
  </section>
  {% endif %}
	<!-- ================ Subscribe section end ================= -->		  


    <br><br>
    {% if mostrar %}

    <form action="/registroProductos" method="POST" enctype="multipart/form-data">
        Nombre: <input type="text" id="nombre" name="nombre" value="{{data2["nombre"]}}"><br>
        Foto: <input type="file" name="fileToUpload" id="fileToUpload"><br>
        Descripción: <br><textarea name="descripcion" id="descripcion" cols="30" rows="10"> {{data2["descripcion"]}} </textarea><br>
        Costo unitatio: $<input type="number" name="costoUnitario" id="costoUnitario" value="{{data2["costo_unitario"]}}" step="0.01"><br>
        Precio de venta: $<input type="number" name="precioVenta" id="precioVenta" value="{{data2["precio_venta"]}}" step="0.01"><br>
        No. Patente: <input type="number" name="patente" id="patente" value="{{data2["patente"]}}"><br>
        <input type="submit" value="Modificar">
        <input type="hidden" name="formId" id="formId" value="4">
        <input type="hidden" name="id_producto" id="id_producto" value="{{data2["id_producto"]}}">
    </form>
    <form action="/registroProductos" method="GET">
        <button type="submit" value="Cancelar"></button>
    </form>

    {% endif %}

    <!--================ Start footer Area  =================-->	
	<footer class="footer">
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title large_title">Descripcion</h4>
							<p>
                                CODIGO
							</p>
							
						</div>
					</div>
					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Redes sociales</h4>
							<ul class="list">
								<li><a>Facebook: CODIGO</a></li>
								<li><a>Instagram: CODIGO</a></li>
                                <li><a>Youtube: CODIGO</a></li>
							</ul>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contact Us</h4>
							<div class="ml-40">
								
								<p class="sm-head">
									<span class="fa fa-phone"></span>
									Numero de telefono
								</p>
								<p>
									CODIGO
								</p>
	
								<p class="sm-head">
									<span class="fa fa-envelope"></span>
									Email
								</p>
								<p>
									CODIGO
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">
					<p class="col-lg-12 footer-text text-center">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Fishing 2020 | An ocean full of great ideas <i class="fa fa-heart" aria-hidden="true"></i> by <a>Fishing</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				</div>
			</div>
		</div>
	</footer>

{% endblock body %}



</html>